<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Result Page</title>
</head>

<body>
    <a href="/">Home Page</a>
    <a href="/AllCountries">All Countries Data</a>
    <div>
        <h2>Country Name: <%= result.country %>
        </h2>
        <% result.forEach(element=>{%>
            <p>Date: <%= element.date %>
            </p>
            <p>Cases: <%= element.cases %>
            </p>
            <%}) %>

    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/app.js"></script>

</html>